@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-basic, .card-premium, .card-standard{
  margin: 0 2rem 1rem 0;
  padding: 0 0 0.5rem 0 ;
  width: 29rem;
  height:75vh;
  background: white;
  color: #444;
  text-align: center;
  border-radius: 1rem;
  box-shadow:  0.5rem 0.5rem 1rem rgba( 51, 51 ,51 , 0.2);
  overflow: hidden;
  transition: all 0.1ms ease-in-out;
}

.card-basic:hover , .card-standard:hover , .card-premium:hover{
  transform: scale(1.02);
}

.card-header{
  height: 7rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem 0;
  color: white;
  clip-path: polygon(0 0 , 100% 0%, 100% 85%, 0% 100%);
}

.header-basic, .btn-basic{
  background: linear-gradient(135deg, cyan, #06c766);
}

.header-standard, .btn-standard{
  background: linear-gradient(135deg, #b202c9, #cf087c);
}

.header-premium, .btn-premium{
  background: linear-gradient(135deg, #eea300, #ee5700);
}

.card-body{
  padding: 6rem 0;

}

.card-body h2{
  font-size: 2.5rem;
  font-weight: bold;
}

.card-element-container{
  color: #444;
  list-style: none;

}

.card-body li{
    margin: 1rem;
    font-size: 1.5rem;
}

.btn{
  margin: 1rem 0;
  padding: 0.7rem 1rem;
  outline: none;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.1ms ease-in-out;
}

.btn:hover{
  transform: scale(0.95);
}

.btn:active{
  transform: scale(1);
}

.card-element-hidden{
  display: nones;
}